<% success.forEach((message) => { %>
  <div class="alert alert-success reveal" role="alert"><%= message %></div>
<% }) %>
<% error.forEach((message) => { %>
  <div class="alert alert-danger reveal" role="alert"><%= message %></div>
<% }) %>
