<dialog class="app-modal" id="demoModal">
  <div class="p-4">
    <h3 class="h5">Quick Tip</h3>
    <p class="text-muted">Use this modal component for confirmations or additional details.</p>
    <button class="btn btn-primary" data-modal-close>Got it</button>
  </div>
</dialog>
